<div class="container">
  <div class="row">
      <table class="table">
      </table>
  </div>
  <div class="row">
      <table class="table">
          <thead>
              <tr class="bg-info">
                  <th scope="col">
                      <img src="./assets/logoTV.jpg" height="30px" width="30px" alt="TV">
                      TV Series
                  </th>
              </tr>
          </thead>
      </table>
  </div>
</div>
<div class="container">
  <div class="col-6">
    <table class="table">
      <thead>
        <tr>
          <th scope="col" width="10px"><b>#</b></th>
          <th scope="col">Name</th>
          <th scope="col">Channel</th>
          <th scope="col">Seasons</th>
        </tr>
      </thead>
      <tbody style="background-color:#f5f5f5;">
        <tr *ngFor="let s of series">
          <td>
            <dd><b>{{s.id}}</b></dd>
          </td>
          <td>
            <dd><a href="#">{{s.name}}</a></dd>
          </td>
          <td>
            <dd>{{s.channel}}</dd>
          </td>
          <td>
            <dd>{{s.seasons}}</dd>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <td colspan="4">
          <dd><a>Seasons average: </a>{{seasonsAverage}}</dd>
        </td>
      </tfoot>
    </table>
  </div>
</div>
